.login-page {
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  width: 950px;
  min-height: 600px;
  background: white;
  border-radius: 0px;
  display: flex;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(240, 238, 238, 0.1);
}

.login-left {
  width: 45%;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px; /* évite que l'image touche les bords */
}

.login-illustration {
  width: 90%;
  max-width: 350px;  /* empêche l'image d'être trop grande */
  height: auto;
  object-fit: contain;
  object-position: center;
}


.login-right {
  width: 55%;
  padding: 60px 70px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

h2 {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
}

.subtitle {
  margin-top: -8px;
  font-size: 14px;
  color: #888;
}

.input-box {
  position: relative;
}

.input-box input {
  width: 100%;
  height: 48px;
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 0 45px 0 18px;
  font-size: 15px;
}

.icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}

label {
  font-size: 13px;
  font-weight: bold;
}

.forgot {
  text-align: right;
  margin-top: -8px;
  font-size: 12px;
  color: #666;
  cursor: pointer;
}

.btn-login {
  margin-top: 8px;
  height: 45px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #E334FE, #A6048E);
  color: white;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn-create {
  height: 45px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #E334FE, #A6048E);
  color: white; /* texte blanc sur fond violet gradient */
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-wrapper {
  position: relative;
  text-align: right;
}

.forgot-dropdown {
  position: absolute;
  right: 0;
  top: 22px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  width: 190px;
  z-index: 20;
}

.dropdown-item {
  width: 100%;
  padding: 12px 15px;
  background: none;
  border: none;
  text-align: left;
  font-size: 13px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f4f4f4;
}


